.header-page
	header.header
		.wrapper
			.header__body
				.header-logo
					a.logo(href="#") Mairala
				.header__burger
					<span></span>
				nav.header__menu
					ul.header__list
						li.header__link 
							a(href='#') Home
						li.header__link 
							a(href='#') About
						li.header__link 
							a(href='#') Portfolios
						li.header__link 
							a(href='#') Team
						li.header__link 
							a(href='#') Blog
						li.header__link 
							a(href='#') Contact
			.header-content
				p.header-subtitle Grab Your Copy Of
				h1.header-title 
					|The <span>Premium</span> Quality 
					|PSD Template For <span>free</span>
				a(class='header-button' href='#')
					p.header-button__link Download
					i(class="fas fa-download")
	.main-screen.ibg
		img(src="static/img/bg.jpg", alt="")






